[submodule "kernel"]
	path = kernel
	url = ../../ext/sel4.git
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = ../../ext/musllibc.git
[submodule "projects/sel4runtime"]
	path = projects/sel4runtime
	url = ../../ext/sel4runtime
[submodule "projects/sel4_util_libs"]
	path = projects/sel4_util_libs
	url = ../../ext/util_libs.git
[submodule "tools/seL4"]
	path = tools/seL4
	url = ../../ext/sel4_tools.git
[submodule "projects/sel4_libs"]
	path = projects/sel4_libs
	url = ../../ext/sel4_libs.git
[submodule "tools/camkes"]
	path = tools/camkes
	url = ../../ext/camkes-tool.git
[submodule "projects/camkes/capdl"]
	path = projects/camkes/capdl
	url = ../../ext/capdl.git
[submodule "projects/sel4_project_libs"]
	path = projects/sel4_project_libs
	url = ../../ext/projects_libs.git
[submodule "tools/riscv-pk"]
	path = tools/riscv-pk
	url = ../../ext/sel4_riscv-pk.git
[submodule "projects/libs/seos_libs"]
	path = projects/libs/seos_libs
	url = ../../hc/seos_libs.git
[submodule "projects/libs/seos_crypto"]
	path = projects/libs/seos_crypto
	url = ../../seos/crypto.git
[submodule "projects/libs/seos_keystore"]
	path = projects/libs/seos_keystore
	url = ../../seos/keystore.git
[submodule "projects/libs/seos_core_api"]
	path = projects/libs/seos_core_api
	url = ../../seos/core-api.git
[submodule "projects/libs/seos_nwstack"]
	path = projects/libs/seos_nwstack
	url = ../../seos/networkstack.git
[submodule "projects/libs/seos_filesystem_core"]
	path = projects/libs/seos_filesystem_core
	url = ../../seos/filesystem_core.git
[submodule "projects/libs/seos_filesystem_fat"]
	path = projects/libs/seos_filesystem_fat
	url = ../../seos/filesystem_fat_lib.git
[submodule "projects/libs/seos_partition_manager"]
	path = projects/libs/seos_partition_manager
	url = ../../seos/partition_manager.git
[submodule "projects/libs/seos_filesystem_spiffs"]
	path = projects/libs/seos_filesystem_spiffs
	url = ../../seos/filesystem_spiffs_lib.git
[submodule "projects/libs/seos_network_driver_tap_proxy"]
	path = projects/libs/seos_network_driver_tap_proxy
	url = ../../seos/seos_network_driver_tap_proxy_lib.git
[submodule "projects/libs/seos_tls"]
	path = projects/libs/seos_tls
	url = ../../seos/tls.git
